
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#readmore:hover {
    cursor: pointer;
}

.container {
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 6140px;
    background-color: #f2f2f2;
}

.header {
    height: 12.67%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/915988c20bba56c0b5691503/pexels-photo-3218467.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0px, 50% -2.07075vh;
}
        #Navbar {
            width: 0px;
            height: 100%;
            position: fixed;
            overflow: hidden;
            left: 0;
            top: 0;
            z-index: 1;
            transition: 2s;
            background-color: rgb(16, 17, 21);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
                        .li {
                            margin-bottom: 20px;
                        }
                        .li>a {
                            color: aqua;
                        }
                #close {
                    color: #f6f6f6;
                    font-size: x-large;
                    font-weight: 700;
                    margin-right: 10px;
                }
                #close:hover {
                    cursor: pointer;
                }

.menubar-icon {
    margin-top: 10px;
    height: 2.5%;
    width: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-size: 12px;
    color: transparent;
    justify-content: space-between;
}
.menubar-icon :hover {
    cursor:pointer;
}
        .menubar-icon1 {
            border: 0.7px solid black;
            height: 18%;
            width: 50%;
            border-radius: 2px;
            background-color: aliceblue;
        }
        .menubar-icon1 :hover {
            cursor:pointer;
        }

.restaurant-icon {
    margin-top: 65px;
}

.restaurant-shorthead > h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight:700;
    word-spacing: -0.1cm;
    font-size: 60px;
    color: white;
    width: 100%;
    height: 17%;
    margin-top: 130px;
}


.restaurant-description {
    width: 55%;
    color: white;
    font-weight:lighter;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6;
    text-align: center;
}





.header i {
    margin-top: 90px;
    color: white;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


#content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-evenly;
    height: 3%;
}
        .our-menu {
            height: 40%;
            letter-spacing: 0.3px;
            font-weight: 300;
            padding-top: 60px;
            font-size: 1.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .delicious-from-the-chef {
            padding-top: 30px;
            height: 60%;
            display: flex;
            justify-content: center;
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-size: 2.9rem;
            
        }
#content2 {
    height: 8%;
    display: flex;
    /* padding-top: 20px; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
        .food-name {
            /* border: 1px solid black; */
            height: 100%;
            width: 36%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 15px;
            justify-content: space-evenly;
        }
                .food-name1 {
                    height: 33.33%;
                    width: 100%;
                    font-weight: 100;
                    letter-spacing: 2.5px;
                    font-size: large;
                    display: flex;
                    /* border: 1px solid red; */
                    padding-top: 30px;
                    align-items: center;
                    flex-direction: column;
                }
                        .food-name2 {
                            padding-top: 20px;
                            padding-right: 2px;
                            font-weight: 500;
                            line-height: 0.6cm;
                            font-size: 15px;
                            letter-spacing: 0cm;
                            text-align: center;
                        }
#content3 {
    height: 730px;
    margin-top: 20px;
    background-image: url('./img/content3_bg_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% -20px, 50% -3.07075vh;
}
        .for-desserts {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
                .for-desserts1 {
                    height: 360px;
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    padding-bottom: 10px;
                    padding-right: 125px;
                }
                .for-desserts2 {
                    height: 240px;
                    padding-top: 8px;
                    display: flex;
                    justify-content: end;
                    padding-right: 125px;
                }
                        .for-desserts3 {
                            display: flex;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.5);
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            height: 210px;
                            width: 15%;
                            margin-right: 20px;
                        }
                                .for-desserts3 > p {
                                    font-family: "Lato", sans-serif;
                                    font-size: medium;
                                    font-weight: 400;
                                    font-style: normal;
                                }
                                .f-icon {
                                    padding-bottom: 10px;
                                }
                        
       .image-from-freepik {
        height: 70px;
        margin-top: 3px;
        display: flex;
        color: rgb(255, 252, 254);
        justify-content: center;
        padding-left: 22cm;
        font-family: "Lato", sans-serif;
        font-size: medium;
        font-weight: 550;
        word-spacing: -0.1rem;
       }
#content4 {
    height: 760px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    background-color:#f6f6f7;
    margin-bottom: 50px;
}
        .subcontent4 {
            height: 400px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
                .subcontent4a {
                    width: 25%;
                    height: 360px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
                #subcontent4_a {
                    display: flex;
                    justify-content: center;
                    align-items: end;
                }
                #subcontent4_b {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                }
                        #subcontent4aa {
                            background-image: url('./img/choco_cake.jpg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        #subcontent4ab {
                            justify-content: space-evenly;
                        }
                        #subcontent4ac {
                            background-image: url('./img/starwberry_oats_img.jpeg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        #subcontent4ad {
                            justify-content: space-evenly;
                        }
                        #subcontent4ae {
                            background-image: url('./img/banana_oats_img.jpeg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        #subcontent4af {
                            justify-content: space-evenly;
                        }
#content5 {
    margin-bottom: 70px;
    height: 612px;
    background-color: rgb(232, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
}
        .subcontent5a {
            height: 65%;
            width: 33%;
            margin-top: 60px;
            margin-left: 80px;
        }
        .subcontent5b {
            height: 93%;
            width: 45%;
            margin-top: 25px;
            margin-left: 10px;
            background-image: url('./img/omlet.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
#content6 {
    height: 10%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
        .subcontent6a {
            height: 95%;
            width: 38.7%;
            margin-top: 6px;
            background-image: url('./img/bread.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .subcontent6b {
            height: 64%;
            width: 36%;
            margin-top: 20px;
            margin-right: 35px;
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
                .texts {
                    display: flex;
                    align-items: center;
                    text-align: left;
                }
                #Bakery {
                    font-family: "Open Sans", sans-serif;
                    font-size: 17px;
                    font-weight: 300;
                }
                #Review {
                    font-family: "Playfair Display", serif;
                    text-align: start;
                    font-size: 48px;
                    font-weight: 700;
                    height: 50px;
                    padding-bottom: 20px;
                }
                #Quote {
                    font-family: "Playfair Display", serif;
                    text-align: start;
                    font-size: 120px;
                    font-weight: 600;
                    height: 60px;
                    padding-bottom: 50px;
                }
                #WeBring {
                    height: 80px;
                    font-weight: 500;
                    padding-bottom: 40px;
                    font-size: 15.6px;
                    line-height: 0.7cm;
                }
                #Loo {
                    padding-top: 10px;
                    margin-bottom: 10px;
                    word-spacing: 0.2cm;
                    letter-spacing: 0.1cm;
                    font-weight: 100;
                    font-size: 15px;
                }
#content7 {
    height: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 115px;
}
        .subcontent7a {
            height: 98%;
            width: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .subcontent7a>img:hover {
            cursor: pointer;
        }
                .subcontent7aa {
                    width: 74%;
                    height: 100%;
                    overflow: hidden;
                    z-index: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                        .subcontent7aaa {
                            width: 32.5%;
                            height: 100%;
                        }
                        #subcontent7aaa1 {
                            background-image: url('./img/first.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            
                        }
                        #subcontent7aaa2 {
                            background-image: url('./img/second.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            
                        }
                        #subcontent7aaa3 {
                            background-image: url('./img/third.jpeg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            
                        }
                .subcontent7ab {
                    width: 0px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                        .subcontent7abb {
                            width: 32.5%;
                            height: 100%;
                        }
                        #subcontent7abb1 {
                            background-image: url('./img/fourth.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            
                        }
                        #subcontent7abb2 {
                            background-image: url('./img/fifth.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            
                        }
                        #subcontent7abb3 {
                            background-image: url('./img/sisxth.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            
                        } 
        .subcontent7b {
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            padding-top: 70px;
            font-weight: 500;
            font-size: medium;
            letter-spacing: 0.05cm;
            border-bottom: 0.5px solid black;
        }
#content8 {
    height: 7.5%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}
        .image1 {
            height: 95%;
            width: 33.33%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('./img/chicken1.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image2 {
            height: 95%;
            width: 33.33%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('./img/chicken2.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image3 {
            height: 95%;
            width: 33.33%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('./img/chicken3.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }



#footer1 {
    height: 5.2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
        .footer1paragraph {
            width: 55%;
            font-size: x-large;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif;
        }
        .logo {
            height: 12%;
            width: 10%;
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
                .logo1 {
                    height: 100%;
                    width: 33.33%;
                    /* border: 1px solid black; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
            }
#footer2 {
    border: 1px solid black;
    height: 3.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
}
        .footer2paragraph1 {
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
            width: 31%;
            text-align: center;
            padding-top: 10px;
            line-height: 0.7cm;
            color: white;
        }
        .footer2paragraph2 {
            color: white;
        }